<div class="height">
  <ejs-chart [chartArea]='chartArea'
             [primaryXAxis]='xAxis'
             [primaryYAxis]='yAxis'
             [tooltip]='tooltip'
             [zoomSettings]='zoom'
             [title]="title"
             height="100%"
             #chart
             isTransposed='false'>
    <e-series-collection>
      <e-series [dataSource]='datasource'
                type='RangeColumn'
                high='endDate'
                low='startDate'
                columnWidth="0.4"
                pointColorMapping= 'color'
                name='Project'
                xName="name">
      </e-series>

      <ng-container *ngFor="let item of datasource">
        <ng-container *ngFor="let phaseData of item?.phases; trackBy:identify">
          {{ phaseData }}
          <e-series [dataSource]='phaseData.dateRange'
                    type='Line'
                    xName='projectName'
                    yName='date'
                    width=14
                    opacity= 0.4
                    [name]='phaseData.name'>
          </e-series>
          <ng-container *ngIf="phaseData?.progressRange">
            <e-series [dataSource]='phaseData?.progressRange'
                      type='Line'
                      xName='projectName'
                      yName='date'
                      width=6>
            </e-series>
          </ng-container>
          <e-series [dataSource]='phaseData?.dateRange'
                    type='Scatter'
                    xName='projectName'
                    yName='date'
                    width=2
                    [marker]='markerVerticalLine'
                    fill="yellow">
          </e-series>
        </ng-container>
        <e-series [dataSource]='item.milestones'
                  type='Scatter'
                  xName='projectName'
                  yName='startDate'
                  [marker]='markerCircle'
                  fill="#52CB99">
        </e-series>
      </ng-container>
    </e-series-collection>
  </ejs-chart>
</div>
