<button (click)="onClickToShowChart()">Show {{ type }} Chart</button>
<ng-container
  *ngIf="type === 'bar'">
  <ejs-chart id='chartcontainer' [chartArea]='chartArea' width='75%' [title]='title' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
             [tooltip]='tooltip' isTransposed='true'
             (load)='load($event)'>
    <e-series-collection>
      <e-series [dataSource]='data' type='RangeColumn' xName='Month' high='CA_HighTemp' low='CA_LowTemp' columnSpacing=0.1 tooltipMappingName='Text' [marker]='marker' fill="#EE7516"> </e-series>
      <e-series [dataSource]='data' type='RangeColumn' xName='Month' high='CA1_HighTemp' low='CA1_LowTemp' columnSpacing=0.1 tooltipMappingName='Text' [marker]='marker'> </e-series>
      <e-series [dataSource]='data' type='RangeColumn' xName='Month' high='CA2_HighTemp' low='CA2_LowTemp' columnSpacing=0.1 tooltipMappingName='Text' [marker]='marker'> </e-series>
      <e-series [dataSource]='series1' type='Scatter' xName='Month' yName='CA_HighTemp' name='18-20 Years' columnSpacing=0.5 [marker]='marker2' fill="red"></e-series>
    </e-series-collection>
  </ejs-chart>
</ng-container>

<ng-container *ngIf="type === 'line'">
  <ejs-chart [chartArea]='chartArea' width='100%' id='chartcontainer'
             [primaryXAxis]='primaryXAxisStepLine'
             [primaryYAxis]='primaryYAxisStepLine'
             [tooltip]='tooltipStepLine' (load)='load($event)' [legendSettings]='legendStepLine'>
    <e-series-collection>
      <e-series [dataSource]='dataStepLine'  type='MultiColoredLine' xName='Period' yName='AUS_UnemploymentRate' width='5' opacity='1' [marker]='marker' pointColorMapping='color'> </e-series>
      <e-series [dataSource]='series2' type='Scatter' xName='Period' yName='AUS_UnemploymentRate' columnSpacing=0.5 [marker]='marker2' fill="red"></e-series>
    </e-series-collection>
  </ejs-chart>
</ng-container>
